.container {
  display: flex;
  flex-direction: row;
}
.noteicons {
  display: flex;
  color: gray;
  margin-left: 16px;
}
.colorhover:hover {
  display: block;
}
/* .palette:hover .colorhover {
  display: block;
} */
