.updateNoteContainer{
    display:flex;
    padding: 12px 16px;
    border: 1px solid lightgray;
    border-radius: 4px;
    flex-direction: row;
    min-height: 134px;
    width: 598px;
}
.basic_note3{
    display: flex;
    justify-content: space-between;

}